*{
    color: white;
    font-family: 'Lato', sans-serif;
    
}

html {
    background-image: url(./public/bkgr.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    display: flex;
    height: 15%;
}

div.inline-block {
    display: inline-block;
}

nav.inline-block{
    display: flex;
    width: 50%;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    width: 50%;
    margin-left: auto;
    list-style-type: none;
    word-spacing: 10px;

}

nav.ul {
    list-style-type: none;
}

.logo {
    width: 23%;
    padding: 1%;
}

.nav {
    width: 73%;
    padding: 1%;
 }


 img.logo {
    text-align: center;
 }

 .heroImg {
    padding: 25px;

 }

 .content {
    width: 500px;
    margin: 0 auto;
 }

 button {
    background-color: #9c9c9c;
    border: solid 1px #ffffff;
    color: #4c4c4c;
 }


 footer {
    padding: 2% 3% 1% 6%;
    vertical-align: bottom;

}

/* ____myUXSkills CSS____ */

h1 {
    padding: 5%;
    text-align: center;
}

.flexContainer {
    display: flex;
    width: 100%;
}

.skill {
    width: 33%;
    padding: 3%;
}

h3 {
    text-align: center;
}

.uxDesIm {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.logoDes {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.photoEd {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* ____MyWork CSS____ */

.workNav {
    height: 5%;
}

.itMe {
    height: 150px;
}

.listAndPics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.listOfWork {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divsOfdivs {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leftSev {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.rightSev {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact {
    float: right;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

